/*Sección header/title*/
div.title__div{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0 25px;
}

.title__profile{
    width: 300px;
    z-index: 1;
    border-radius: 50%;
    background-color: #28485e;
}

.title__profile:hover{
    box-shadow: inset 10px 10px 70px white;
    transition: box-shadow 3s;
}

.title__container{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

span#title__bio__name{
    font-family: 'Oswald', sans-serif;
    align-self: center;
}

#title__bio__ocupation{
    color: #23aac5;
    font-family: 'Oswald', sans-serif;
}

.title__bio{
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.title__subsection{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

/*header-/-Redes sociales*/

ul.title__network{
    display: flex;
    justify-content: center;
    padding: 0;
    gap:2rem;
}

li.title__network__item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    background: #23aac5;
    width: 55px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
}

.redes_text{
    visibility:hidden;
    opacity: 0;
    position: absolute;
    font-size: 0;
    color:#23aac5;
}

li.title__network__item:hover .redes_text{
    visibility:visible;
    opacity: 1;
    position: relative;
    font-size: 20px;
    background: #23aac5;
    border-radius: 50px;
    padding: 13px;
    transform: scale(1.1);
    box-shadow: inset 1000px 1px 100px #fff;
    transition: all 800ms ease;
    transition: box-shadow 2s ease;
}

li.title__network__item:hover img{
    display: none;
}

