/*Sección Menu*/
section.menu{
    position: sticky;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 10;
    padding: 0 15px;
}

header.menu__header{
    display: flex;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 1.5rem;
    font-family: Raleway;
    font-size: 16px;
    justify-content: center;
}

.menu__hover:hover{
    background: #ffffff;
    color: black;
    border-radius: 18px;
    padding: 7px;
    transition: all ease .5s;
}