/*Skills*/
section.skills {
    text-align: center;
    padding: 3rem 1rem;
}

h3.skills__title {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
}

.skills__line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

div.skills__box {
    background-color: #021024;
    color: white;
    width: 130px;
    height: 130px;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 600ms ease;
}

.skills__box:hover {
    color: #23aac5;
    transform: scale(1.1);
    font-size: 20px;
    box-shadow: inset 24px 200px #fff;
}

div.skills__box>ul {
    padding: 0;
}

.img2 {
    display: none;
}

.skills__box:hover .img2 {
    display: inline;
}

.skills__box:hover .img1 {
    display: none;
}